{% block html_head_container %}

{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <div id="wrapper">
            <div id="container" class="container">
                {% block header %}
                    <div id="top-header" class="span-24" style="margin-bottom: 5px;">
                        <div class="span-15">
                            <div id="pagemenucontainer">
                                <ul id="pagemenu">
                                {% for item in primary_menu.get_items %}
                                    <li class="nav-item {{item.classes | join(' ')}}">
                                        <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                                        {% if item.get_children %}
                                            <ul class="nav nav-drop">
                                            {% for child in item.get_children %}
                                                <li class="nav-drop-item">
                                                    <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="topsearch" class="span-7 last" style="margin-top: 2px;width: 395px;">
                            <style type="text/css">
                                #___gcse_0 .gsc-control-cse {
                                    height: 36px;
                                    padding: 0px !important;
                                }
                            </style>
                            {# {{search_form}} #}
                            <script>
                              (function() {
                                var cx = '014499831519942097966:bdtfunw63_4';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                              })();
                            </script>
                            <gcse:search></gcse:search>
                        </div>
                    </div>

                    <div id="header" class="span-24">

                        <div class="marquee-pretty marquee">
                            <marquee behavior="scroll" direction="left">{{site_config.marquee_str}}</marquee>
                        </div>
                    </div>

                    <div class="span-24">
                        <div id="navcontainer">
                            <ul id="nav" class="menu">
                            {% for item in main_menu.get_items %}
                                <li class="nav-item {{item.classes | join(' ')}}">
                                    <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
                                    {% if item.get_children %}
                                        <ul class="nav nav-drop">
                                        {% for child in item.get_children %}
                                            <li class="nav-drop-item">
                                                <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}

                <div class="span-24" id="contentwrap">
                    {% if sidebar_left %}
                        <aside class="layout-sidebar-left">
                            {{sidebar_left}}
                        </aside>
                    {% endif %}
                    {% if title %}<h1>{{title}}</h1>{% endif %}
                    <div class="wrapper {{sidebar_class}}">
                        <div class="span-14">
                            <div id="content">
                                {% block content %}
                                    Sorry, no content
                                {% endblock %}
                            </div>
                            <div id="advertise-info">
                                {% block advertise_info %}
                                    {% include 'advertise-info.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {% if sidebar_right %}
                        <aside class="layout-sidebar-right">
                            {{sidebar_right}}
                        </aside>
                    {% endif %}
                </div>

                {% block footer %}
                    <div class="span-24">
                        <footer id="footer">
                            {% include 'footer.twig' %}
                        </footer>
                        <div id="credits">
                            {{site_config.copyright}}
                        </div>
                    </div>

                    {{ function('wp_footer') }}
                {% endblock %}
            </div>
        </div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-66293242-1', 'auto');
	  ga('require', 'linkid', 'linkid.js');
	  ga('send', '_trackPageview');

	</script>
    </body>
</html>
