<section class="category-content">
    <h3 class="category-h1">{{category.name}}</h3>
    <div class="category-description">
        <strong>{{category.description}}</strong>
    </div>
    {% if posts %}
        {% for post in categoryPosts %}
            <div class="category-item">
                {% if post.thumbnail.src != "" %}
                    <img src="{{post.thumbnail.src}}" />
                {% else %}
                    <img src="{{template_uri}}/images/no-image.jpg" />
                {% endif %}
                <span class="post-date">{{ post.post_date|date }}</span><strong><a href="{{post.get_permalink()}}"> {{ post.title }} </a></strong>
                <p>
                   {{ post.post_excerpt }} <a class="read-more" href="{{ post.get_permalink() }}"> Chi tiết </a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        Đang cập nhật nội dung
    {% endif %}
</section>
