<div id="footer-info">
    <h2>THÔNG TIN LIÊN HỆ</h2>
    <div>
        <span>Địa chỉ : {{site_config.address}}</span>
        <span></span>
    </div>
    <div>
        <span>Điện thoại : {{site_config.phone1}} - {{site_config.phone2}}</span>
        <span></span>
    </div>
    <!--<div>
        <span>Email :</span>
        <span></span>
    </div>-->
    <div>
        <span>Website : {{site_config.website_url}}</span>
        <span></span>
    </div>
    <div>
        <span>Hotline (24/7) : {{site_config.hotline}}</span>
        <span></span>
    </div>
</div>
